/* error page */
.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #eef2f3, #d9e4ec);
  font-family: "Inter", sans-serif;
  text-align: center;
}

.error-container h1 {
  font-size: 100px;
  color: #1f3c88;
  margin-bottom: 20px;
}

.error-container p {
  color: #555;
  font-size: 18px;
  margin-bottom: 30px;
}

.btn-home {
  background-color: #1f3c88;
  color: white;
  border: none;
  padding: 12px 26px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.btn-home:hover {
  background-color: #162e6f;
}